In [94]:
import numpy as np 
from matplotlib import pyplot as plt
import pandas as pd 
import subprocess

In [74]:
data_path_1 = "hypre-data/quality-v2.24.0/hypre-ast-metrics/gen-func-ranges/hypre-function_ranges.csv"
data_path_2 = "hypre-data/quality-v2.21.0/hypre-ast-metrics/gen-func-ranges/hypre-function_ranges.csv"

In [75]:
frame1 = pd.read_csv(data_path_1, names=["Name", "QualifiedName", "Filename", "BLine", "BCol", "ELine", "ECol"]) 
frame2 = pd.read_csv(data_path_2, names=["Name", "QualifiedName", "Filename", "BLine", "BCol", "ELine", "ECol"])
frame1 = frame1.drop(0)
frame2 = frame2.drop(0)

In [76]:
frame1.head()

    Name QualifiedName                Filename BLine BCol ELine ECol
1   atof          atof   /usr/include/stdlib.h   101    1   293   63
2   atoi          atoi   /usr/include/stdlib.h   104    1   293   63
3   atol          atol   /usr/include/stdlib.h   107    1   293   63
4  atoll         atoll   /usr/include/stdlib.h   112   15   293   63
5   atoi          atoi                           346   27   364    1

In [77]:
frame2.head()

    Name QualifiedName                Filename BLine BCol ELine ECol
1   atof          atof   /usr/include/stdlib.h   101    1   293   63
2   atoi          atoi   /usr/include/stdlib.h   104    1   293   63
3   atol          atol   /usr/include/stdlib.h   107    1   293   63
4  atoll         atoll   /usr/include/stdlib.h   112   15   293   63
5   atoi          atoi                           346   27   364    1

In [78]:
frame1 = frame1.loc[frame1.Filename.str.contains("hypre", case=False)]
frame2 = frame2.loc[frame2.Filename.str.contains("hypre", case=False)]
frame1.head()

,Name,QualifiedName,Filename,BLine,BCol,ELine,ECol
39,hypre_GetActualMemLocation,hypre_GetActualMemLocation,/static/hypre/src/utilities/_hypre_utilities.h,622,1,644,1
40,hypre_compare_and_swap,hypre_compare_and_swap,/static/hypre/src/utilities/_hypre_utilities.h,1919,1,1928,1
41,hypre_fetch_and_add,hypre_fetch_and_add,/static/hypre/src/utilities/_hypre_utilities.h,1930,1,1936,1
42,first_lsb_bit_indx,first_lsb_bit_indx,/static/hypre/src/utilities/_hypre_utilities.h,1949,1,1969,1
43,hypre_BigHash,hypre_BigHash,/static/hypre/src/utilities/_hypre_utilities.h,2056,1,2076,1

In [92]:
frame1.index = frame1.Name 
frame2.index = frame2.Name

In [108]:
command2 = ["cd", "hypre; git log --oneline --ancestry-path v2.21.0..v2.24.0 >> git-logs.txt; cat git-logs.txt"]

In [109]:
subprocess.run(command2, shell=True)

CompletedProcess(args=['cd', 'hypre; git log --oneline --ancestry-path v2.21.0..v2.24.0 >> git-logs.txt; cat git-logs.txt'], returncode=0)

In [ ]:
for fname1 in frame1.index: 
    for fname2 in frame2.index: 
        if fname1 == fname2: 
            # check if filename same 
            if frame1.Filename[fname1] == frame2.Filename[fname2]:
            # if finename same 
            # check if bline and eline and bcol and ecol same 
                condition = (frame1.BLine[fname1] == frame2.BLine[fname2]) \ 
                            and (frame1.Eline[fname1] == frame2.ELine[fname2]) \ 
                            and (frame1.BCol[fname1] == frame2.BCol[fname2]) \ 
                            and (frame2.ECol[fname1] == frame2.ECol[fname2])
            # if above same, continue 
            # else, change was made 
                if not condition: 
                    # get commits between 1 and 2 
                    
                # get diffs from those commits 
                # if diff_line such that bline <= diff_line <= eline appears in diff 
                # record commit and committer 
    # if fname1 is not found in fname2 
    # get commits between 1 and 2 
    # get diffs from those commits 
    # if diff_line such that bline <= diff_line <= eline appears in diff 
    # record commit and committer